# Logistic Regression
## contents
### Problem formulation and expected result
### 2. Preparation
#### 2.1. Load packages and settings
#### 2.2. Load data
### 3. Data inspection
#### 3.1. Basic data inspect
#### 3.2. Check null values and fix them

## 1. Problem formulation and expected result
### based on the customer data, 
### a. what are the factors tell if a loan is good or bad?
### b. predict whether the loan of a customer should be approved (if the loan is good or bad).

## 2. Preparation
### 2.1.  Load packages and settings

In [1]:
#load packages
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss
from math import sqrt

In [2]:
#set the plot size
sns.set(rc = {'figure.figsize':(12,10)})

In [3]:
#see all columns
pd.set_option('display.max_columns', None)

In [4]:
#change scientific numbers to float
np.set_printoptions(formatter = {'float_kind':'{:f}'.format})

In [5]:
# remove warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### 2.2. Load data

In [6]:
raw_data = pd.read_csv('/Users/juli/Desktop/ML/people.csv')

## 3. Data inspection
### 3.1. Basic data inspect

In [7]:
#check the first 5 rows
raw_data.head()

,Type of Account,Account History,Reason for the Loan,Loan Amount,Account Savings,Employment History,Individual Stauts,Other Loans,Security / Collateral,Age,Residence Status,Job,Completed Other loan?,Good Loan
0,No Data,critical,Learning / Edu purposes,2116.0,0-200,5-7 Years,Male,No,Property - Real Estate,47.0,House Owner,Services,No,No
1,No Data,critical,TV,2438.0,No Data,7+ Years,Male,No,Savings Account,52.0,House Owner,Skilled Labor,No,No
2,No Data,critical,Buying a New Car,2144.0,0-200,2-5 Years,Male,No,Vehicle,48.0,House Owner,Skilled Labor,No,No
3,No Data,critical,Home furniture,2073.0,No Data,2-5 Years,Married,No,Vehicle,25.0,House Owner,Skilled Labor,Yes,No
4,No Data,critical,Support for Business,1276.0,No Data,7+ Years,Male,No,No Security,59.0,Renting,Services,No,No

In [8]:
#check the amount of rows and columns
raw_data.shape

(1006, 14)

In [10]:
# check the unique values in each column
for col in raw_data:
    print(col)
    print(raw_data[col].unique())
    print(len(raw_data[col].unique()))
    print('\n')

Type of Account
['No Data' 'Type A' 'Type B' 'Type C' nan]
5


Account History
['critical' 'Average (known delays)' 'Good' nan]
4


Reason for the Loan
['Learning / Edu purposes' 'TV' 'Buying a New Car' 'Home furniture'
 'Support for Business' 'Buying a Used Car' 'Renovation' 'All other'
 'Home Devices' 'Advance Edu/training' nan]
11


Loan Amount
[2116.000000 2438.000000 2144.000000 2073.000000 1276.000000 6130.000000
 1394.000000 7242.000000 9581.000000 734.000000 1421.000000 621.000000
 816.000000 2017.000000 7873.000000 3579.000000 3869.000000 1259.000000
 2289.000000 699.000000 1595.000000 1917.000000 2875.000000 1071.000000
 3785.000000 1377.000000 950.000000 1511.000000 1954.000000 3080.000000
 3359.000000 1554.000000 1295.000000 1189.000000 727.000000 2694.000000
 1172.000000 2750.000000 1235.000000 6324.000000 1403.000000 2409.000000
 3373.000000 1525.000000 7643.000000 10141.000000 711.000000 1046.000000
 5819.000000 1873.000000 11596.000000 1464.000000 3234.000000 2351.000000
 3862.000000 6082.000000 2151.000000 13771.000000 376.000000 2253.000000
 2419.000000 1517.000000 2201.000000 7257.000000 2309.000000 5854.000000
 2759.000000 1159.000000 2067.000000 1304.000000 1257.000000 11059.000000
 1178.000000 1939.000000 1242.000000 1590.000000 7146.000000 704.000000
 5520.000000 1537.000000 1518.000000 1256.000000 2028.000000 8877.000000
 1006.000000 2581.000000 5968.000000 2790.000000 1943.000000 4534.000000
 1541.000000 4043.000000 1867.000000 2362.000000 6332.000000 4141.000000
 2084.000000 4539.000000 5159.000000 5120.000000 944.000000 1809.000000
 630.000000 7615.000000 3090.000000 254.000000 1324.000000 3399.000000
 6774.000000 5790.000000 5051.000000 12693.000000 2473.000000 1672.000000
 3282.000000 2238.000000 3545.000000 5723.000000 1941.000000 2771.000000
 1241.000000 1606.000000 996.000000 940.000000 1569.000000 3790.000000
 2614.000000 1491.000000 3360.000000 5821.000000 4541.000000 3339.000000
 6749.000000 1112.000000 6631.000000 1842.000000 1186.000000 1605.000000
 3499.000000 10495.000000 1830.000000 1238.000000 536.000000 6849.000000
 1474.000000 1744.000000 2844.000000 2034.000000 3570.000000 423.000000
 1481.000000 2109.000000 1978.000000 3637.000000 411.000000 783.000000
 1887.000000 729.000000 5858.000000 1914.000000 3924.000000 4228.000000
 1944.000000 2258.000000 1452.000000 4799.000000 1347.000000 3761.000000
 1512.000000 4485.000000 3957.000000 3410.000000 2266.000000 1331.000000
 959.000000 613.000000 1443.000000 1138.000000 2367.000000 2692.000000
 2320.000000 3064.000000 2872.000000 700.000000 1250.000000 2122.000000
 966.000000 1316.000000 1057.000000 3033.000000 1349.000000 3161.000000
 1353.000000 1290.000000 1305.000000 1272.000000 1484.000000 2903.000000
 3018.000000 2341.000000 1356.000000 746.000000 3674.000000 1260.000000
 2939.000000 6298.000000 9067.000000 2838.000000 3078.000000 3439.000000
 438.000000 2340.000000 2307.000000 2093.000000 1281.000000 3382.000000
 3192.000000 5198.000000 2181.000000 1838.000000 2413.000000 8136.000000
 9447.000000 5959.000000 1223.000000 2724.000000 2003.000000 10146.000000
 1348.000000 1929.000000 1267.000000 929.000000 2991.000000 4606.000000
 1416.000000 3850.000000 1374.000000 716.000000 4667.000000 2618.000000
 1487.000000 2511.000000 2158.000000 1261.000000 3819.000000 1551.000000
 1019.000000 2680.000000 2700.000000 4628.000000 1587.000000 1088.000000
 1301.000000 2518.000000 673.000000 1553.000000 5525.000000 1533.000000
 730.000000 792.000000 1550.000000 3085.000000 1831.000000 1475.000000
 3251.000000 2800.000000 1328.000000 3465.000000 1896.000000 720.000000
 534.000000 2777.000000 2684.000000 2689.000000 4614.000000 1965.000000
 2579.000000 3079.000000 1319.000000 1425.000000 8604.000000 4699.000000
 2265.000000 3502.000000 1317.000000 3121.000000 5007.000000 2146.000000
 1592.000000 3369.000000 2055.000000 1310.000000 651.000000 3915.000000
 1992.000000 3838.000000 1396.000000 1379.000000 1513.000000 4635.000000
 1387.000000 10228.000000 2244.000000 5746.000000 10375.000000 1459.000000
 2284.000000 6546.000000 2757.000000 5336.000000 2487.000000 1516.000000
 3170.000000 5249.000000 3044.000000 1397.000000 2676.000000 6326.000000
 1341.000000 1110.000000 4184.000000 891.000000 3434.000000 1251.000000
 1493.000000 905.000000 7422.000000 893.000000 3597.000000 7818.000000
 9292.000000 1286.000000 2143.000000 2855.000000 1868.000000 3537.000000
 1549.000000 941.000000 2878.000000 1540.000000 3636.000000 10989.000000
 3575.000000 7407.000000 1423.000000 2410.000000 1746.000000 820.000000
 5964.000000 6949.000000 5252.000000 1303.000000 1586.000000 12588.000000
 1818.000000 2428.000000 1926.000000 5868.000000 4766.000000 475.000000
 1167.000000 6210.000000 5980.000000 2227.000000 6487.000000 1408.000000
 1545.000000 1963.000000 14423.000000 1024.000000 5960.000000 4781.000000
 3851.000000 1311.000000 12623.000000 1326.000000 15950.000000 2633.000000
 7077.000000 2342.000000 1921.000000 11956.000000 6098.000000 1413.000000
 1460.000000 6274.000000 2370.000000 1928.000000 648.000000 1862.000000
 8504.000000 782.000000 2731.000000 4801.000000 3581.000000 7774.000000
 6985.000000 3527.000000 7312.000000 1579.000000 2071.000000 1434.000000
 4459.000000 894.000000 5148.000000 1194.000000 3245.000000 3853.000000
 3918.000000 1510.000000 4312.000000 1429.000000 934.000000 10973.000000
 873.000000 14568.000000 2783.000000 2169.000000 2050.000000 7437.000000
 818.000000 12186.000000 3077.000000 3894.000000 7599.000000 9413.000000
 9968.000000 2765.000000 3809.000000 296.000000 5399.000000 686.000000
 4362.000000 4260.000000 1080.000000 2104.000000 1539.000000 5748.000000
 3217.000000 4441.000000 886.000000 3764.000000 1142.000000 969.000000
 1253.000000 1258.000000 3015.000000 14792.000000 14334.000000
 12987.000000 7390.000000 2327.000000 988.000000 11764.000000 1234.000000
 1907.000000 2919.000000 2040.000000 1980.000000 1047.000000 2044.000000
 965.000000 2778.000000 2791.000000 11332.000000 1496.000000 2641.000000
 5112.000000 2582.000000 1520.000000 3035.000000 759.000000 3109.000000
 1262.000000 3588.000000 1209.000000 1220.000000 8334.000000 373.000000
 9043.000000 6853.000000 599.000000 1115.000000 7967.000000 2274.000000
 2650.000000 3622.000000 1543.000000 1997.000000 1219.000000 1333.000000
 2297.000000 1940.000000 12396.000000 4724.000000 1565.000000 3988.000000
 1094.000000 2949.000000 2828.000000 1076.000000 3140.000000 2400.000000
 1975.000000 2734.000000 936.000000 4244.000000 2349.000000 1854.000000
 2688.000000 12224.000000 9169.000000 3450.000000 3654.000000 1441.000000
 1447.000000 1366.000000 1325.000000 1925.000000 8100.000000 902.000000
 4232.000000 6370.000000 1066.000000 3511.000000 5601.000000 9862.000000
 2638.000000 2914.000000 1118.000000 2517.000000 2543.000000 6562.000000
 2989.000000 2129.000000 14047.000000 6162.000000 442.000000 801.000000
 6430.000000 6418.000000 777.000000 4007.000000 11572.000000 4293.000000
 1058.000000 847.000000 1164.000000 3630.000000 3879.000000 4947.000000
 1415.000000 849.000000 6473.000000 1955.000000 6238.000000 1202.000000
 1563.000000 1813.000000 7490.000000 606.000000 9296.000000 1792.000000
 911.000000 488.000000 7444.000000 6691.000000 5092.000000 3983.000000
 2197.000000 4074.000000 2829.000000 15689.000000 5803.000000 3716.000000
 3215.000000 4744.000000 3001.000000 18427.000000 2014.000000 1688.000000
 1938.000000 6291.000000 8373.000000 3600.000000 4115.000000 1158.000000
 3082.000000 2373.000000 474.000000 1720.000000 2539.000000 1522.000000
 770.000000 2440.000000 1266.000000 8393.000000 1758.000000 4594.000000
 1582.000000 1473.000000 2464.000000 1782.000000 3986.000000 1966.000000
 2112.000000 1205.000000 449.000000 1905.000000 4695.000000 4816.000000
 1783.000000 1284.000000 1146.000000 1602.000000 3204.000000 675.000000
 3523.000000 5445.000000 1392.000000 1248.000000 1126.000000 2587.000000
 2607.000000 2920.000000 2313.000000 610.000000 6767.000000 3578.000000
 2216.000000 2191.000000 1398.000000 7179.000000 4862.000000
 -548541254.000000 1182.000000 7887.000000 4889.000000 4317.000000
 1212.000000 nan 1300.000000 8079.000000 2653.000000 2245.000000
 1375.000000 6855.000000 4026.000000 6197.000000 6146.000000 1359.000000
 6236.000000 1177.000000 1993.000000 1546.000000 3980.000000 1764.000000
 2326.000000 2251.000000 1120.000000 7723.000000 1692.000000 7182.000000
 2145.000000 4286.000000 1851.000000 3507.000000 6891.000000 3423.000000
 2470.000000 872.000000 5386.000000 5387.000000 1292.000000 345.000000
 1141.000000 953.000000 3418.000000 2589.000000 349.000000 590.000000
 1665.000000 683.000000 1185.000000 913.000000 10627.000000 6588.000000
 5303.000000 3117.000000 3041.000000 1213.000000 7883.000000 3165.000000
 1824.000000 2525.000000 933.000000 4617.000000 676.000000 2157.000000
 1667.000000 1614.000000 5309.000000 8990.000000 12018.000000 10735.000000
 4792.000000 1030.000000 1050.000000 747.000000 2748.000000 710.000000
 3651.000000 2927.000000 2678.000000 3401.000000 6626.000000 4113.000000
 3404.000000 1288.000000 4177.000000 3605.000000 6212.000000 2414.000000
 2474.000000 3456.000000 7686.000000 2231.000000 2354.000000 1065.000000
 1400.000000 2591.000000 8472.000000 1208.000000 1876.000000 3405.000000
 1624.000000 1849.000000 4825.000000 3910.000000 3392.000000 352.000000
 3628.000000 1738.000000 2928.000000 451.000000 656.000000 3122.000000
 1482.000000 2125.000000 2997.000000 3127.000000 5501.000000 776.000000
 1364.000000 1216.000000 3191.000000 7130.000000 2305.000000 665.000000
 7775.000000 6363.000000 627.000000 7016.000000 3555.000000 2970.000000
 1552.000000 1391.000000 6768.000000 2054.000000 2804.000000 1237.000000
 2247.000000 389.000000 1376.000000 1446.000000 2836.000000 754.000000
 3640.000000 3694.000000 1871.000000 2612.000000 1571.000000 4372.000000
 765.000000 1883.000000 4587.000000 702.000000 7495.000000 2317.000000
 3975.000000 906.000000 4854.000000 2399.000000 3667.000000 983.000000
 4720.000000 6351.000000 1210.000000 1149.000000 1885.000000 1988.000000
 4382.000000 2330.000000 2503.000000 14183.000000 1799.000000 2529.000000
 1277.000000 439.000000 979.000000 1298.000000 695.000000 2127.000000
 2225.000000 3125.000000 2832.000000 8073.000000 1373.000000 3522.000000
 6012.000000 7522.000000 9273.000000 9639.000000 3067.000000 3944.000000
 15865.000000 1362.000000 2728.000000 749.000000 1607.000000 3979.000000
 8336.000000 1217.000000 11828.000000 1090.000000 2971.000000 5181.000000
 1368.000000 714.000000 2252.000000 3971.000000 2458.000000 2398.000000
 666.000000 3596.000000 1958.000000 1439.000000 811.000000 2450.000000
 2177.000000 4160.000000 2631.000000 1109.000000 3768.000000 3166.000000
 14912.000000 3365.000000 6882.000000 712.000000 1055.000000 10309.000000
 1757.000000 1514.000000 1859.000000 3364.000000 2165.000000 1894.000000
 1244.000000 4009.000000 3948.000000 7302.000000 8245.000000 6596.000000
 3962.000000 3871.000000 1848.000000 791.000000 937.000000 6472.000000
 8628.000000 7494.000000 9586.000000 5123.000000 2981.000000 3463.000000
 4157.000000 1761.000000 4467.000000 4278.000000 8655.000000 1601.000000
 7250.000000 4685.000000 977.000000 2038.000000 3883.000000 1815.000000
 15666.000000 7991.000000 3618.000000 2592.000000 1556.000000 724.000000
 2386.000000 1573.000000 10892.000000 2174.000000 7827.000000 8950.000000
 3602.000000 4473.000000 12759.000000 2551.000000 1765.000000]
914


Account Savings
['0-200' 'No Data' '200-500' '1000+' '500-1000' nan '0-201']
7


Employment History
['5-7 Years' '7+ Years' '2-5 Years' '0-2 Years' 'Unemployed' nan]
6


Individual Stauts
['Male' 'Married' 'Female' 'Divorced' 'Female_' nan]
6


Other Loans
['No' 'Yes' nan]
3


Security / Collateral
['Property - Real Estate' 'Savings Account' 'Vehicle' 'No Security' nan]
5


Age
[47.000000 52.000000 48.000000 25.000000 59.000000 30.000000 37.000000
 41.000000 31.000000 44.000000 29.000000 58.000000 32.000000 61.000000
 24.000000 45.000000 42.000000 38.000000 50.000000 46.000000 34.000000
 51.000000 26.000000 54.000000 39.000000 43.000000 35.000000 55.000000
 33.000000 28.000000 21.000000 62.000000 65.000000 23.000000 40.000000
 27.000000 22.000000 75.000000 36.000000 64.000000 53.000000 63.000000
 67.000000 18.000000 66.000000 49.000000 74.000000 68.000000 56.000000
 72.000000 60.000000 57.000000 20.000000 69.000000 19.000000 327.000000
 nan 73.000000]
58


Residence Status
['House Owner' 'Renting' 'Free' nan]
4


Job
['Services' 'Skilled Labor' 'Professional / Management' 'Not Employed' nan]
5


Completed Other loan?
['No' 'Yes' nan]
3


Good Loan
['No' 'Yes' nan]
3

### 3.2. Check null values and fix them

In [11]:
#check null values
raw_data.isnull().sum()

Type of Account          2
Account History          2
Reason for the Loan      3
Loan Amount              3
Account Savings          4
Employment History       5
Individual Stauts        5
Other Loans              5
Security / Collateral    5
Age                      4
Residence Status         4
Job                      4
Completed Other loan?    4
Good Loan                5
dtype: int64

In [12]:
# check the null value situation by inspecting the column with the most null value first
raw_data[raw_data['Employment History'].isnull()]

,Type of Account,Account History,Reason for the Loan,Loan Amount,Account Savings,Employment History,Individual Stauts,Other Loans,Security / Collateral,Age,Residence Status,Job,Completed Other loan?,Good Loan
686,Type C,Good,Buying a New Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
721,Type C,critical,Home furniture,5387.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737,Type C,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,House Owner,Services,No,NaN
1005,NaN,NaN,NaN,1765.0,0-201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# all rows are almost whole-null-world, so they can be deleted
raw_data = raw_data.dropna(subset = ['Employment History'])

raw_data.isnull().sum()
# the rows with null data are that 5 rows

Type of Account          0
Account History          0
Reason for the Loan      0
Loan Amount              0
Account Savings          0
Employment History       0
Individual Stauts        0
Other Loans              0
Security / Collateral    0
Age                      0
Residence Status         0
Job                      0
Completed Other loan?    0
Good Loan                0
dtype: int64